@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Mulish:ital,wght@0,400;0,700;1,400&display=swap');
/*font-family: 'Antonio', sans-serif;
font-family: 'Mulish', sans-serif;*/

/* start of null styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   
}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*end of null styles*/

body{
	background-image: url(../img/back.jpg);
}
.wrapper{
	background-color: #fff;
	width: 1000px;
	margin: 0 auto;
	display: flex;
	font-family: 'Mulish', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.main{
	width: 30%;
	background-color: black;
	padding: 20px;
	color: white;
}
.aside{
	width: 70%;
	padding: 20px;
}
.header__logo{
	width: 98%;
	margin-bottom: 20px;
}
.header__img{
	width: 100%;
}
.header__blockquote{
	font-style: italic;
	font-weight: 700;
}
.contact{
	display: flex;
	flex-direction: column;
}
.contact__link{
	padding: 5px 0;
	color: white;
}
.contact__link:hover{
	color: #d6662c;
}

.aside__title{
	font-size: 60px;
	font-family: 'Antonio', sans-serif;
	font-weight: 700;
}
.aside__subtitle{
	font-size: 21px;
	margin-bottom: 70px;
}
h2{
	font-size: 21px;
	font-weight: 700;
	margin: 20px 0;
	color: #d6662c;
}
.skills__item{
	list-style: none;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left ;
	margin-left: 0;
	padding-left: 30px;
}
.contact__item{
	list-style: none;
}
.html{
	background-image: url(../img/html_icon.svg);
}
.css{
	background-image: url(../img/css_icon.svg);
}
.scss{
	background-image: url(../img/scss_icon.svg);
}
.flexbox{
	background-image: url(../img/css_icon.svg);
}
.bem{
	background-image: url(../img/yandex__icon.svg);
}
.ph{
	background-image: url(../img/photoshop__icon.svg);
}
.ad{
	background-image: url(../img/dreamweaver__icon.svg);
}
ul li{
	padding: 10px 0px;
	list-style: square;
	margin-left: 30px;	
}
p{
	line-height: 1.7;
}
progress{
	margin-left: 50px;
}
progress::-webkit-progress-bar {
	background-color:#d6662c;
	border-radius: 20px;
	height: 10px;
	width: 300px;
}
progress::-webkit-progress-value{
	border-radius: 20px;
	background-color:black;
}
.footer__wrapper{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding: 30px 0;
	text-align: center;	
}
.footer__link{
	color: black;
}
.footer__link:hover{
	color: #d6662c;
}


